@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #000;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  filter: contrast(30);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orb {
  position: relative;
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  filter: blur(15px);
}

@for $i from 1 to 8 {
  .inner-#{$i}{
    position:absolute;
    top: 20px;
    left: 20px;
    width:50px;
    height: 50px;
    transform: rotate( (random(300)) + deg );

    &:after{
        position: absolute;
        display: block;
        content: '';
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        transform-origin: (60 - $i * 3) + px (40 - $i * 3) + px;
        animation: rotate (2.5 + $i / 5) + s ease-in-out ($i / 5) + s infinite;
        filter: blur(2px);
        z-index: 5;
    }
  }
}

@for $i from 1 to 10 {
  .outer-#{$i} {
    position: absolute;
    top: 38px;
    left: 38px;
    width: (10 + $i) + px;
    height: (10 + $i) + px;
    transform: rotate( (random(300)) + deg );

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: (10 + $i) + px;
      height: (10 + $i) + px;
      background: #fff;
      border-radius: 50%;
      transform-origin: (90 - $i * 2) + px (80 - $i * 3) + px;
      animation: rotate (4 + $i / 4) + s ease-in-out ($i / 5) + s infinite;
      filter: blur(5px);
      z-index: 5;
    }
  }
  
}
@keyframes rotate {
  from {
      transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
      transform: rotate(360deg) translate3d(0, 0, 0);
  }
}